.form {
  border: 1px solid black;
  padding: 15px;
  width: 300px;
}
/* .lable {
  display: block;
} */

.input {
  border-radius: 2px;
  display: block;
  margin: 3px 0 20px 0;
  border: 1px solid rgba(33, 33, 33, 0.3);
}
.input:focus-within {
  border-color: rgba(0, 4, 255, 0.2);
}

.btn {
  padding: 2px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: white;
}
.btn:hover {
  scale: 1.1;
  background-color: rgba(0, 13, 255, 0.919);
  color: white;
  border-color: rgb(102, 255, 0);
}
